<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  <!-- added to form stores user data input -->
<head>

<title>Subscriber List</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>
	<h1>Welcome to Subscriber page</h1>
	
	<h3>Please subscribe below</h3>
	
	<p>Please use the form below to subscribe</p>
	
	<!-- basic table form creation the th is for thyme leaf -->
	<form action="#" th:action="@{/}" th:object="${subscriber}" method ="post">
		<table>
			<tr>
				<td>First Name: </td>
				<td><input type ="text" th:field="*{firstName}"/></td>		
			</tr>
			<tr>
				<td>Last Name: </td>
				<td><input type ="text" th:field="*{lastName}"/></td>		
			</tr>
			<tr>
				<td>Email: </td>
				<td><input type ="email" th:field="*{email}"/></td>		
			</tr>
			<tr>
				<td>Username: </td>
				<td><input type ="text" th:field="*{userName}"/></td>		
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type ="password" th:field="*{password}"/></td>		
			</tr>
			<tr>
				<td>Date of birth: </td>
				<td><input type ="date" th:field="*{dateOfBirth}"/></td>		
			</tr>
			<tr>
				<td><button type="submit">Submit Your Name</button></td>
			</tr> 
			
			
		</table>
	
	
	</form>
	
	

</body>

</head>




</html>
